<g ng-id="{{eid}}">
    <circle r="15" stroke="black" stroke-width="2" fill="white"></circle>
    <text dx="-3">{{id}}</text>
    <animateTransform id="animate-to-arrow" attributeName="transform"
                      attributeType="XML"
                      type="translate"
                      ng-attr-from="{{bx+' '+by}}"
                      ng-attr-to="{{ax+' '+ay}}"
                      dur="0.2s"
                      repeatCount="1"
                      begin="DOMAttrModified;DOMNodeInserted"
    fill="freeze"/>
</g>
